@font-face {
    font-family: jost;
    src: url("/font/jost/Jost-Regular.ttf") ;
}
@font-face {
    font-family: jost;
    src: url("/font/jost/Jost-Bold.ttf") ;
    font-weight: 700;
}
@font-face {
    font-family: jost;
    src: url("/font/jost/Jost-SemiBold.ttf") ;
    font-weight: 600;
}
@font-face {
    font-family: jost;
    src: url("/font/jost/Jost-Medium.ttf") ;
    font-weight: 500;
}