:root{
    --color-white:#FFFFFF;
    --color-white-2:#EEF4FF;
    --color-black:#000;
    --color-purple-2:#3E3FD8;
    --color-gray-lite:#2E323B;
    --color-gray:#61646B;
    --color-pink-2:#FF3D68;
    --color-pink-3:rgba(252, 221, 236, 0.5);
    
}
$colors :white,white-2,black,purple-2,gray-lite,gray,pink-2,pink-3;
@each $color in $colors {
    .color-#{"" + $color}{
        color: var(--color-#{"" + $color});
        &-hover:hover{
            color: var(--color-#{"" + $color});
        }
        
    }
        
    .border-color-#{"" + $color}{
        border-color: var(--color-#{"" + $color})
    }
    .bg-#{"" + $color}{
        background: var(--color-#{"" + $color});
        &-hover:hover{
            background: var(--color-#{"" + $color})
        }
    }
};