::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb{
    background: var(--color-red);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--color-purple);
}
::-webkit-scrollbar-track{
    background: var(--color-soft-purple);
}