.banner{
    position: relative;
    min-height: 130vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: ptr(132px);
.container{

    display: flex;
    flex-wrap: wrap;
}
    &-fondo{
        display: block;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: top right;
    }
    &-content{
        flex: 5;
        position: relative;
        
        &_titleInfo{
            
            &-title{

            }
            &-info{
    
            }
        }
        
        &-links{
            padding-top: ptr(40px);
            display: flex;
            flex-wrap: wrap;
            &-link-1{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: ptr(17px) ptr(23px);
                align-items: center;
                width: ptr(162px);
                max-width: ptr(170px);
                height: ptr(60px);
                border-radius: ptr(20px);
                border: 0;
                flex: 2;
                margin-right: ptr(30px);
                @media (max-width:992px) {
                    margin-right: ptr(4px);
                    padding-right: ptr(10px);
                    
                }
               
                &:hover{
                
                }
                &-img{
                    
                }
            } 
                
            &-link-2{
                display: flex;
                flex-wrap: wrap;
                margin-left: ptr(30px);
                align-items: center;
                @media (max-width:992px) {
                    margin-right: 0;
                    
                }
                @media (max-width:991px) {
                    margin-left: 0;
                    
                }
            } 
            &-img{
                display: flex;
                flex-wrap: wrap;
                margin-right: ptr(20px);
                align-items: center;
                justify-content: center;
            }                           
        }
    }
    &-void{
        flex: 7;
    }
}