.business{
    padding:0 ptr(160px);

    align-items: center;
    justify-content: center;
    &-content{
        text-align: center;
        
        &-title{
            padding-top: ptr(65px);
            padding-bottom: ptr(10px);
        }
        &-text{
            padding-TOP: ptr(10px);
            padding-bottom: ptr(40px);
        }
    }
    &-card{
        padding-right: ptr(20px);
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    &-info{
        display: flex;
        flex-wrap: wrap;
        flex:3;
        box-shadow: 0 0 3px 1px hsla(0, 0%, 0%,.5);
        border-radius: ptr(25px);
        &-img{
            padding:ptr(30px) 0 ptr(20px) ptr(30px);
        }
        &-content{
            padding: ptr(30px) ptr(30px) ptr(49px) ptr(30px);
            &-title{
            
            }
            &-text{
    
            }
            &-textLink{
                padding: 0 0 ptr(49px) 0
            }
            &-arrow{
                margin-left: ptr(5px);
            }
        }
    }
}