.clients{
    display: flex;
    flex-wrap: wrap;
    flex: 6;

    &-title{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-left: ptr(50px);
        
    }
    &-barra{
        max-width: 100%;
    }

    &-img{
        
    }

    &-content{
        display: flex;
        flex-wrap: wrap;
        flex: 5;
        &-title{
            align-items: center;
            justify-content: center;   
        }
        &-elements{
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            
            &-conteninfo{ 
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: ptr(20px);
                &-img{
                    width: ptr(75px);
                }

                &-titleText{
                    display: flex;
                    flex-wrap: wrap;
                    width: calc(100% - #{ptr(75px)} - 10px);
                    &-title{
                 
                    }
                    &-text{
                        margin: 0;
                    }
        
                }
            }
            
        }  
    }
&-void{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    }
}