.footer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: ptr(104px);
    padding-top: ptr(134px);
    &-contentInfo{
        display: flex;
        flex-wrap: wrap;
        flex: 4;
        &-title{

        }
        &-text{

        }
        &-img{
            &-rs{
                padding-right: ptr(20px);
            }
        }
    }
    &-linkInfo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 3;
        &:last-child{
            flex: 2;
        }
        &-title{
            padding-bottom: ptr(10px);
        }
        &-text{
            padding-top: ptr(10px);
            padding-bottom: ptr(10px);
        }
    }
    &-bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding-bottom: ptr(20px);
    }
}