.header{
    z-index: 1;
    position: fixed;
    padding-top: ptr(36px);   
    padding-bottom: ptr(36px);
    width: 100%;
    top: 0;
    left: 0;
    transition: .5s;
    &-content{
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &-info{
            flex:2;
            &-title{  
            }
        }
        &-nav{
            flex: 8;
            &-subtitle{
                padding: 0 ptr(32px);

            }
        }
        &-link{
            width: ptr(170px);
            height: ptr(60px);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            border-radius: ptr(20px);
            border: 0;
            flex: 2;
            &:hover{
                
            }
        
        }
    }
    
}