.news{
    align-items: center;
    justify-content: center;
    &-content{
        text-align: center;
        
        &-title{
            padding-top: ptr(65px);
            padding-bottom: ptr(10px);
        }
        &-text{
            padding-top: ptr(10px);
            padding-bottom: ptr(40px);
        }
    }
    &-card{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: ptr(120px);
    }
    &-info{
        display: flex;
        flex-wrap: wrap;
        flex:3;
        min-width: min(#{ptr(360px)},100%);
        box-shadow: 0 0 3px 1px hsla(0, 0%, 0%,.5);
        border-radius: ptr(25px);
        &-content-img{
            padding:ptr(30px)  ptr(20px);
            width: 100%;

        }
        &-img{
            width: 100%;
            height: ptr(200px);
            object-fit: cover;
            object-position: center;
            border-radius: ptr(20px);
        }
        &-content{
            padding: ptr(30px) ptr(30px) ptr(49px) ptr(30px);
            &-description{
                display: flex;
                flex-wrap: wrap;
                &-1{
                    &-text{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        padding-right: ptr(42px);
                        &-img{

                        }
                    }
                }
                &-2{
                     &-text{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        &-img{
                            
                        }
                    }
                }
            }
           
            &-text{
    
            }
        }
    }
}