.solutions{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 6;
    &-img{
        display: block;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        
    }
    &-contentInfo{
        padding: ptr(228px) 0 ptr(228px) ptr(160px) ;
        display: flex;
        flex-wrap: wrap;
        flex: 6;
        &-title{
            padding-bottom: ptr(20px);
        }
        &-text{
            padding-bottom: ptr(20px);
        }

        &-infoNumber{
            display: flex;
            flex-wrap: wrap;
        }
        &-info{
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            line-height: 1;
            margin-left: ptr(20px);
            border-radius: ptr(25px);
            width: ptr(170px);
            height: ptr(100px);
        }
    }
    

    &-void{
        display: flex;
        flex-wrap: wrap;
        flex: 6;
    }
}