.suscription{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: ptr(80px);
    .void-2{
        flex: 2;
    }
    &-info{
        flex: 8;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        &-subTitle{
            margin-bottom: ptr(20px);
        }
        &-title{
            margin-bottom: ptr(20px);
        }
        &-text{
            margin: auto;
            margin-bottom: ptr(40px);
            width: ptr(490px);
            max-width: 100%;
            text-align: center;
        }
    }
    &-content{
        display: flex;
        flex-wrap: wrap;
        border-radius: ptr(50px);
        border-style: solid;
        border-width: 2px;
        width: 100%;
        max-width: ptr(740px);
        margin: auto;
        height: ptr(73px);

        &-input-email{
            border-radius: ptr(50px);
            border: 0;
            width: calc(100% - #{ptr(166px)});
            padding: 0 ptr(47px);
            outline: none;
        }
        &-input-submit{
            width: ptr(166px);
            border-radius: ptr(50px);
            border: 0;
            cursor: pointer;
            &:hover{
                
            }
        }
    }
}