.testemonials{
    padding:0 ptr(160px);
    align-items: center;
    justify-content: center;
    
    &-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        &-title{
            letter-spacing: 0.5em;  
        }
        &-text{
            
        }
    }
    &-cards{
        padding-right: ptr(20px);
        margin-bottom: ptr(120px);
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    &-infos{
        display: flex;
        flex-wrap: wrap;
        flex:4;
        box-shadow: 0 0 3px 1px hsla(0, 0%, 0%,.5);
        border-radius: ptr(25px);
        &-content{
            &-2{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                &-img{
                    padding:ptr(30px) 0 ptr(20px) ptr(30px);
                }
                &-title{
                
                }
                &-subTitle{
    
                }
            }
           
            &-text{
                padding: ptr(20px);
            }
         
        }
    }
}