@font-face {
  font-family: jost;
  src: url("/font/jost/Jost-Regular.ttf");
}
@font-face {
  font-family: jost;
  src: url("/font/jost/Jost-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: jost;
  src: url("/font/jost/Jost-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: jost;
  src: url("/font/jost/Jost-Medium.ttf");
  font-weight: 500;
}
:root {
  --color-white:#FFFFFF;
  --color-white-2:#EEF4FF;
  --color-black:#000;
  --color-purple-2:#3E3FD8;
  --color-gray-lite:#2E323B;
  --color-gray:#61646B;
  --color-pink-2:#FF3D68;
  --color-pink-3:rgba(252, 221, 236, 0.5);
}

.color-white {
  color: var(--color-white);
}
.color-white-hover:hover {
  color: var(--color-white);
}

.border-color-white {
  border-color: var(--color-white);
}

.bg-white {
  background: var(--color-white);
}
.bg-white-hover:hover {
  background: var(--color-white);
}

.color-white-2 {
  color: var(--color-white-2);
}
.color-white-2-hover:hover {
  color: var(--color-white-2);
}

.border-color-white-2 {
  border-color: var(--color-white-2);
}

.bg-white-2 {
  background: var(--color-white-2);
}
.bg-white-2-hover:hover {
  background: var(--color-white-2);
}

.color-black {
  color: var(--color-black);
}
.color-black-hover:hover {
  color: var(--color-black);
}

.border-color-black {
  border-color: var(--color-black);
}

.bg-black {
  background: var(--color-black);
}
.bg-black-hover:hover {
  background: var(--color-black);
}

.color-purple-2 {
  color: var(--color-purple-2);
}
.color-purple-2-hover:hover {
  color: var(--color-purple-2);
}

.border-color-purple-2 {
  border-color: var(--color-purple-2);
}

.bg-purple-2 {
  background: var(--color-purple-2);
}
.bg-purple-2-hover:hover {
  background: var(--color-purple-2);
}

.color-gray-lite {
  color: var(--color-gray-lite);
}
.color-gray-lite-hover:hover {
  color: var(--color-gray-lite);
}

.border-color-gray-lite {
  border-color: var(--color-gray-lite);
}

.bg-gray-lite {
  background: var(--color-gray-lite);
}
.bg-gray-lite-hover:hover {
  background: var(--color-gray-lite);
}

.color-gray {
  color: var(--color-gray);
}
.color-gray-hover:hover {
  color: var(--color-gray);
}

.border-color-gray {
  border-color: var(--color-gray);
}

.bg-gray {
  background: var(--color-gray);
}
.bg-gray-hover:hover {
  background: var(--color-gray);
}

.color-pink-2 {
  color: var(--color-pink-2);
}
.color-pink-2-hover:hover {
  color: var(--color-pink-2);
}

.border-color-pink-2 {
  border-color: var(--color-pink-2);
}

.bg-pink-2 {
  background: var(--color-pink-2);
}
.bg-pink-2-hover:hover {
  background: var(--color-pink-2);
}

.color-pink-3 {
  color: var(--color-pink-3);
}
.color-pink-3-hover:hover {
  color: var(--color-pink-3);
}

.border-color-pink-3 {
  border-color: var(--color-pink-3);
}

.bg-pink-3 {
  background: var(--color-pink-3);
}
.bg-pink-3-hover:hover {
  background: var(--color-pink-3);
}

html {
  font-size: 11px;
}
@media (min-width: 575px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 767px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1660px) {
  html {
    font-size: 20px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

.font-1 {
  font-size: 0.0625rem;
}

.font-2 {
  font-size: 0.125rem;
}

.font-3 {
  font-size: 0.1875rem;
}

.font-4 {
  font-size: 0.25rem;
}

.font-5 {
  font-size: 0.3125rem;
}

.font-6 {
  font-size: 0.375rem;
}

.font-7 {
  font-size: 0.4375rem;
}

.font-8 {
  font-size: 0.5rem;
}

.font-9 {
  font-size: 0.5625rem;
}

.font-10 {
  font-size: 0.625rem;
}

.font-11 {
  font-size: 0.6875rem;
}

.font-12 {
  font-size: 0.75rem;
}

.font-13 {
  font-size: 0.8125rem;
}

.font-14 {
  font-size: 0.875rem;
}

.font-15 {
  font-size: 0.9375rem;
}

.font-16 {
  font-size: 1rem;
}

.font-17 {
  font-size: 1.0625rem;
}

.font-18 {
  font-size: 1.125rem;
}

.font-19 {
  font-size: 1.1875rem;
}

.font-20 {
  font-size: 1.25rem;
}

.font-21 {
  font-size: 1.3125rem;
}

.font-22 {
  font-size: 1.375rem;
}

.font-23 {
  font-size: 1.4375rem;
}

.font-24 {
  font-size: 1.5rem;
}

.font-25 {
  font-size: 1.5625rem;
}

.font-26 {
  font-size: 1.625rem;
}

.font-27 {
  font-size: 1.6875rem;
}

.font-28 {
  font-size: 1.75rem;
}

.font-29 {
  font-size: 1.8125rem;
}

.font-30 {
  font-size: 1.875rem;
}

.font-31 {
  font-size: 1.9375rem;
}

.font-32 {
  font-size: 2rem;
}

.font-33 {
  font-size: 2.0625rem;
}

.font-34 {
  font-size: 2.125rem;
}

.font-35 {
  font-size: 2.1875rem;
}

.font-36 {
  font-size: 2.25rem;
}

.font-37 {
  font-size: 2.3125rem;
}

.font-38 {
  font-size: 2.375rem;
}

.font-39 {
  font-size: 2.4375rem;
}

.font-40 {
  font-size: 2.5rem;
}

.font-41 {
  font-size: 2.5625rem;
}

.font-42 {
  font-size: 2.625rem;
}

.font-43 {
  font-size: 2.6875rem;
}

.font-44 {
  font-size: 2.75rem;
}

.font-45 {
  font-size: 2.8125rem;
}

.font-46 {
  font-size: 2.875rem;
}

.font-47 {
  font-size: 2.9375rem;
}

.font-48 {
  font-size: 3rem;
}

.font-49 {
  font-size: 3.0625rem;
}

.font-50 {
  font-size: 3.125rem;
}

.font-51 {
  font-size: 3.1875rem;
}

.font-52 {
  font-size: 3.25rem;
}

.font-53 {
  font-size: 3.3125rem;
}

.font-54 {
  font-size: 3.375rem;
}

.font-55 {
  font-size: 3.4375rem;
}

.font-56 {
  font-size: 3.5rem;
}

.font-57 {
  font-size: 3.5625rem;
}

.font-58 {
  font-size: 3.625rem;
}

.font-59 {
  font-size: 3.6875rem;
}

.font-60 {
  font-size: 3.75rem;
}

.font-61 {
  font-size: 3.8125rem;
}

.font-62 {
  font-size: 3.875rem;
}

.font-63 {
  font-size: 3.9375rem;
}

.font-64 {
  font-size: 4rem;
}

.font-65 {
  font-size: 4.0625rem;
}

.font-66 {
  font-size: 4.125rem;
}

.font-67 {
  font-size: 4.1875rem;
}

.font-68 {
  font-size: 4.25rem;
}

.font-69 {
  font-size: 4.3125rem;
}

.font-70 {
  font-size: 4.375rem;
}

.font-71 {
  font-size: 4.4375rem;
}

.font-72 {
  font-size: 4.5rem;
}

.font-73 {
  font-size: 4.5625rem;
}

.font-74 {
  font-size: 4.625rem;
}

.font-75 {
  font-size: 4.6875rem;
}

.font-76 {
  font-size: 4.75rem;
}

.font-77 {
  font-size: 4.8125rem;
}

.font-78 {
  font-size: 4.875rem;
}

.font-79 {
  font-size: 4.9375rem;
}

.font-80 {
  font-size: 5rem;
}

.font-81 {
  font-size: 5.0625rem;
}

.font-82 {
  font-size: 5.125rem;
}

.font-83 {
  font-size: 5.1875rem;
}

.font-84 {
  font-size: 5.25rem;
}

.font-85 {
  font-size: 5.3125rem;
}

.font-86 {
  font-size: 5.375rem;
}

.font-87 {
  font-size: 5.4375rem;
}

.font-88 {
  font-size: 5.5rem;
}

.font-89 {
  font-size: 5.5625rem;
}

.font-90 {
  font-size: 5.625rem;
}

.font-91 {
  font-size: 5.6875rem;
}

.font-92 {
  font-size: 5.75rem;
}

.font-93 {
  font-size: 5.8125rem;
}

.font-94 {
  font-size: 5.875rem;
}

.font-95 {
  font-size: 5.9375rem;
}

.font-96 {
  font-size: 6rem;
}

.font-97 {
  font-size: 6.0625rem;
}

.font-98 {
  font-size: 6.125rem;
}

.font-99 {
  font-size: 6.1875rem;
}

.font-100 {
  font-size: 6.25rem;
}

.font-101 {
  font-size: 6.3125rem;
}

.font-102 {
  font-size: 6.375rem;
}

.font-103 {
  font-size: 6.4375rem;
}

.font-104 {
  font-size: 6.5rem;
}

.font-105 {
  font-size: 6.5625rem;
}

.font-106 {
  font-size: 6.625rem;
}

.font-107 {
  font-size: 6.6875rem;
}

.font-108 {
  font-size: 6.75rem;
}

.font-109 {
  font-size: 6.8125rem;
}

.font-110 {
  font-size: 6.875rem;
}

.font-111 {
  font-size: 6.9375rem;
}

.font-112 {
  font-size: 7rem;
}

.font-113 {
  font-size: 7.0625rem;
}

.font-114 {
  font-size: 7.125rem;
}

.font-115 {
  font-size: 7.1875rem;
}

.font-116 {
  font-size: 7.25rem;
}

.font-117 {
  font-size: 7.3125rem;
}

.font-118 {
  font-size: 7.375rem;
}

.font-119 {
  font-size: 7.4375rem;
}

.font-120 {
  font-size: 7.5rem;
}

.font-121 {
  font-size: 7.5625rem;
}

.font-122 {
  font-size: 7.625rem;
}

.font-123 {
  font-size: 7.6875rem;
}

.font-124 {
  font-size: 7.75rem;
}

.font-125 {
  font-size: 7.8125rem;
}

.font-126 {
  font-size: 7.875rem;
}

.font-127 {
  font-size: 7.9375rem;
}

.font-128 {
  font-size: 8rem;
}

.font-129 {
  font-size: 8.0625rem;
}

.font-130 {
  font-size: 8.125rem;
}

.font-131 {
  font-size: 8.1875rem;
}

.font-132 {
  font-size: 8.25rem;
}

.font-133 {
  font-size: 8.3125rem;
}

.font-134 {
  font-size: 8.375rem;
}

.font-135 {
  font-size: 8.4375rem;
}

.font-136 {
  font-size: 8.5rem;
}

.font-137 {
  font-size: 8.5625rem;
}

.font-138 {
  font-size: 8.625rem;
}

.font-139 {
  font-size: 8.6875rem;
}

.font-140 {
  font-size: 8.75rem;
}

.font-141 {
  font-size: 8.8125rem;
}

.font-142 {
  font-size: 8.875rem;
}

.font-143 {
  font-size: 8.9375rem;
}

.font-144 {
  font-size: 9rem;
}

.font-145 {
  font-size: 9.0625rem;
}

.font-146 {
  font-size: 9.125rem;
}

.font-147 {
  font-size: 9.1875rem;
}

.font-148 {
  font-size: 9.25rem;
}

.font-149 {
  font-size: 9.3125rem;
}

.font-150 {
  font-size: 9.375rem;
}

.font-151 {
  font-size: 9.4375rem;
}

.font-152 {
  font-size: 9.5rem;
}

.font-153 {
  font-size: 9.5625rem;
}

.font-154 {
  font-size: 9.625rem;
}

.font-155 {
  font-size: 9.6875rem;
}

.font-156 {
  font-size: 9.75rem;
}

.font-157 {
  font-size: 9.8125rem;
}

.font-158 {
  font-size: 9.875rem;
}

.font-159 {
  font-size: 9.9375rem;
}

.font-160 {
  font-size: 10rem;
}

.font-161 {
  font-size: 10.0625rem;
}

.font-162 {
  font-size: 10.125rem;
}

.font-163 {
  font-size: 10.1875rem;
}

.font-164 {
  font-size: 10.25rem;
}

.font-165 {
  font-size: 10.3125rem;
}

.font-166 {
  font-size: 10.375rem;
}

.font-167 {
  font-size: 10.4375rem;
}

.font-168 {
  font-size: 10.5rem;
}

.font-169 {
  font-size: 10.5625rem;
}

.font-170 {
  font-size: 10.625rem;
}

.font-171 {
  font-size: 10.6875rem;
}

.font-172 {
  font-size: 10.75rem;
}

.font-173 {
  font-size: 10.8125rem;
}

.font-174 {
  font-size: 10.875rem;
}

.font-175 {
  font-size: 10.9375rem;
}

.font-176 {
  font-size: 11rem;
}

.font-177 {
  font-size: 11.0625rem;
}

.font-178 {
  font-size: 11.125rem;
}

.font-179 {
  font-size: 11.1875rem;
}

.font-180 {
  font-size: 11.25rem;
}

.font-181 {
  font-size: 11.3125rem;
}

.font-182 {
  font-size: 11.375rem;
}

.font-183 {
  font-size: 11.4375rem;
}

.font-184 {
  font-size: 11.5rem;
}

.font-185 {
  font-size: 11.5625rem;
}

.font-186 {
  font-size: 11.625rem;
}

.font-187 {
  font-size: 11.6875rem;
}

.font-188 {
  font-size: 11.75rem;
}

.font-189 {
  font-size: 11.8125rem;
}

.font-190 {
  font-size: 11.875rem;
}

.font-191 {
  font-size: 11.9375rem;
}

.font-192 {
  font-size: 12rem;
}

.font-193 {
  font-size: 12.0625rem;
}

.font-194 {
  font-size: 12.125rem;
}

.font-195 {
  font-size: 12.1875rem;
}

.font-196 {
  font-size: 12.25rem;
}

.font-197 {
  font-size: 12.3125rem;
}

.font-198 {
  font-size: 12.375rem;
}

.font-199 {
  font-size: 12.4375rem;
}

.font-200 {
  font-size: 12.5rem;
}

.font-201 {
  font-size: 12.5625rem;
}

.font-202 {
  font-size: 12.625rem;
}

.font-203 {
  font-size: 12.6875rem;
}

.font-204 {
  font-size: 12.75rem;
}

.font-205 {
  font-size: 12.8125rem;
}

.font-206 {
  font-size: 12.875rem;
}

.font-207 {
  font-size: 12.9375rem;
}

.font-208 {
  font-size: 13rem;
}

.font-209 {
  font-size: 13.0625rem;
}

.font-210 {
  font-size: 13.125rem;
}

.font-211 {
  font-size: 13.1875rem;
}

.font-212 {
  font-size: 13.25rem;
}

.font-213 {
  font-size: 13.3125rem;
}

.font-214 {
  font-size: 13.375rem;
}

.font-215 {
  font-size: 13.4375rem;
}

.font-216 {
  font-size: 13.5rem;
}

.font-217 {
  font-size: 13.5625rem;
}

.font-218 {
  font-size: 13.625rem;
}

.font-219 {
  font-size: 13.6875rem;
}

.font-220 {
  font-size: 13.75rem;
}

.font-221 {
  font-size: 13.8125rem;
}

.font-222 {
  font-size: 13.875rem;
}

.font-223 {
  font-size: 13.9375rem;
}

.font-224 {
  font-size: 14rem;
}

.font-225 {
  font-size: 14.0625rem;
}

.font-226 {
  font-size: 14.125rem;
}

.font-227 {
  font-size: 14.1875rem;
}

.font-228 {
  font-size: 14.25rem;
}

.font-229 {
  font-size: 14.3125rem;
}

.font-230 {
  font-size: 14.375rem;
}

.font-231 {
  font-size: 14.4375rem;
}

.font-232 {
  font-size: 14.5rem;
}

.font-233 {
  font-size: 14.5625rem;
}

.font-234 {
  font-size: 14.625rem;
}

.font-235 {
  font-size: 14.6875rem;
}

.font-236 {
  font-size: 14.75rem;
}

.font-237 {
  font-size: 14.8125rem;
}

.font-238 {
  font-size: 14.875rem;
}

.font-239 {
  font-size: 14.9375rem;
}

.font-240 {
  font-size: 15rem;
}

.font-241 {
  font-size: 15.0625rem;
}

.font-242 {
  font-size: 15.125rem;
}

.font-243 {
  font-size: 15.1875rem;
}

.font-244 {
  font-size: 15.25rem;
}

.font-245 {
  font-size: 15.3125rem;
}

.font-246 {
  font-size: 15.375rem;
}

.font-247 {
  font-size: 15.4375rem;
}

.font-248 {
  font-size: 15.5rem;
}

.font-249 {
  font-size: 15.5625rem;
}

.font-w-100 {
  font-weight: 100;
}

.font-w-200 {
  font-weight: 200;
}

.font-w-300 {
  font-weight: 300;
}

.font-w-400 {
  font-weight: 400;
}

.font-w-500 {
  font-weight: 500;
}

.font-w-600 {
  font-weight: 600;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-800 {
  font-weight: 800;
}

.font-w-900 {
  font-weight: 900;
}

.font-Jost {
  font-family: jost;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-11 {
  flex: 11;
}

.flex-12 {
  flex: 12;
}

@media (max-width: 991px) {
  .flex-1 {
    flex: 1;
  }

  .flex-2 {
    flex: 2;
  }

  .flex-3 {
    flex: 3;
  }

  .flex-4 {
    flex: 4;
  }

  .flex-5 {
    flex: 5;
  }

  .flex-6 {
    flex: 6;
  }

  .flex-7 {
    flex: 7;
  }

  .flex-8 {
    flex: 8;
  }

  .flex-9 {
    flex: 9;
  }

  .flex-10 {
    flex: 10;
  }

  .flex-11 {
    flex: 11;
  }

  .flex-12 {
    flex: 12;
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-left {
  justify-content: flex-start;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-right {
  justify-content: flex-end;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-red);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-purple);
}

::-webkit-scrollbar-track {
  background: var(--color-soft-purple);
}

.space {
  display: block;
  width: 100%;
}

.header {
  z-index: 1;
  position: fixed;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-content-info {
  flex: 2;
}
.header-content-nav {
  flex: 8;
}
.header-content-nav-subtitle {
  padding: 0 2rem;
}
.header-content-link {
  width: 10.625rem;
  height: 3.75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  border: 0;
  flex: 2;
}
.container {
  width: 1150px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media (max-width: 991px) {
  .container {
    width: 760px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 560px;
  }
}

.banner {
  position: relative;
  min-height: 130vh;
  display: flex;
  flex-wrap: wrap;
  padding-top: 8.25rem;
}
.banner .container {
  display: flex;
  flex-wrap: wrap;
}
.banner-fondo {
  display: block;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top right;
}
.banner-content {
  flex: 5;
  position: relative;
}
.banner-content-links {
  padding-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
}
.banner-content-links-link-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.0625rem 1.4375rem;
  align-items: center;
  width: 10.125rem;
  max-width: 10.625rem;
  height: 3.75rem;
  border-radius: 1.25rem;
  border: 0;
  flex: 2;
  margin-right: 1.875rem;
}
@media (max-width: 992px) {
  .banner-content-links-link-1 {
    margin-right: 0.25rem;
    padding-right: 0.625rem;
  }
}
.banner-content-links-link-2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1.875rem;
  align-items: center;
}
@media (max-width: 992px) {
  .banner-content-links-link-2 {
    margin-right: 0;
  }
}
@media (max-width: 991px) {
  .banner-content-links-link-2 {
    margin-left: 0;
  }
}
.banner-content-links-img {
  display: flex;
  flex-wrap: wrap;
  margin-right: 1.25rem;
  align-items: center;
  justify-content: center;
}
.banner-void {
  flex: 7;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  flex: 6;
}
.clients-title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 3.125rem;
}
.clients-barra {
  max-width: 100%;
}
.clients-content {
  display: flex;
  flex-wrap: wrap;
  flex: 5;
}
.clients-content-title {
  align-items: center;
  justify-content: center;
}
.clients-content-elements {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.clients-content-elements-conteninfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.clients-content-elements-conteninfo-img {
  width: 4.6875rem;
}
.clients-content-elements-conteninfo-titleText {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 4.6875rem - 10px);
}
.clients-content-elements-conteninfo-titleText-text {
  margin: 0;
}
.clients-void {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.solutions {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 6;
}
.solutions-img {
  display: block;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.solutions-contentInfo {
  padding: 14.25rem 0 14.25rem 10rem;
  display: flex;
  flex-wrap: wrap;
  flex: 6;
}
.solutions-contentInfo-title {
  padding-bottom: 1.25rem;
}
.solutions-contentInfo-text {
  padding-bottom: 1.25rem;
}
.solutions-contentInfo-infoNumber {
  display: flex;
  flex-wrap: wrap;
}
.solutions-contentInfo-info {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-left: 1.25rem;
  border-radius: 1.5625rem;
  width: 10.625rem;
  height: 6.25rem;
}
.solutions-void {
  display: flex;
  flex-wrap: wrap;
  flex: 6;
}

.business {
  padding: 0 10rem;
  align-items: center;
  justify-content: center;
}
.business-content {
  text-align: center;
}
.business-content-title {
  padding-top: 4.0625rem;
  padding-bottom: 0.625rem;
}
.business-content-text {
  padding-TOP: 0.625rem;
  padding-bottom: 2.5rem;
}
.business-card {
  padding-right: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.business-info {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 1.5625rem;
}
.business-info-img {
  padding: 1.875rem 0 1.25rem 1.875rem;
}
.business-info-content {
  padding: 1.875rem 1.875rem 3.0625rem 1.875rem;
}
.business-info-content-textLink {
  padding: 0 0 3.0625rem 0;
}
.business-info-content-arrow {
  margin-left: 0.3125rem;
}

.testemonials {
  padding: 0 10rem;
  align-items: center;
  justify-content: center;
}
.testemonials-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testemonials-content-title {
  letter-spacing: 0.5em;
}
.testemonials-cards {
  padding-right: 1.25rem;
  margin-bottom: 7.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.testemonials-infos {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 1.5625rem;
}
.testemonials-infos-content-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testemonials-infos-content-2-img {
  padding: 1.875rem 0 1.25rem 1.875rem;
}
.testemonials-infos-content-text {
  padding: 1.25rem;
}

.news {
  align-items: center;
  justify-content: center;
}
.news-content {
  text-align: center;
}
.news-content-title {
  padding-top: 4.0625rem;
  padding-bottom: 0.625rem;
}
.news-content-text {
  padding-top: 0.625rem;
  padding-bottom: 2.5rem;
}
.news-card {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 7.5rem;
}
.news-info {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  min-width: min(22.5rem,100%);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 1.5625rem;
}
.news-info-content-img {
  padding: 1.875rem 1.25rem;
  width: 100%;
}
.news-info-img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  object-position: center;
  border-radius: 1.25rem;
}
.news-info-content {
  padding: 1.875rem 1.875rem 3.0625rem 1.875rem;
}
.news-info-content-description {
  display: flex;
  flex-wrap: wrap;
}
.news-info-content-description-1-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 2.625rem;
}
.news-info-content-description-2-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.suscription {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.suscription .void-2 {
  flex: 2;
}
.suscription-info {
  flex: 8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.suscription-info-subTitle {
  margin-bottom: 1.25rem;
}
.suscription-info-title {
  margin-bottom: 1.25rem;
}
.suscription-info-text {
  margin: auto;
  margin-bottom: 2.5rem;
  width: 30.625rem;
  max-width: 100%;
  text-align: center;
}
.suscription-content {
  display: flex;
  flex-wrap: wrap;
  border-radius: 3.125rem;
  border-style: solid;
  border-width: 2px;
  width: 100%;
  max-width: 46.25rem;
  margin: auto;
  height: 4.5625rem;
}
.suscription-content-input-email {
  border-radius: 3.125rem;
  border: 0;
  width: calc(100% - 10.375rem);
  padding: 0 2.9375rem;
  outline: none;
}
.suscription-content-input-submit {
  width: 10.375rem;
  border-radius: 3.125rem;
  border: 0;
  cursor: pointer;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 6.5rem;
  padding-top: 8.375rem;
}
.footer-contentInfo {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
}
.footer-contentInfo-img-rs {
  padding-right: 1.25rem;
}
.footer-linkInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 3;
}
.footer-linkInfo:last-child {
  flex: 2;
}
.footer-linkInfo-title {
  padding-bottom: 0.625rem;
}
.footer-linkInfo-text {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding-bottom: 1.25rem;
}

/*# sourceMappingURL=style.css.map */
